@prefix lv2:  <http://lv2plug.in/ns/lv2core#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .

<http://rhubarbdreams.dev/plugins/@PLUGIN_NAME@>
	a lv2:Plugin ;
	lv2:binary <@PLUGIN_NAME@.so>  ;
	rdfs:seeAlso <@PLUGIN_NAME@.ttl> .
